body{
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, white, black); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    background-size: cover;
}

.nav_bar {
    z-index: 1;
    position: fixed;
    top: 0;
    box-shadow: 0px 15px 50px 25px black;
    justify-content: center;
    width: 100%;
}

#logo_image {
    box-shadow: 0px 0px 5px 5px maroon;
}

.buttons {
    position: absolute;
    left: 20%;
}

.nav_bar button {
    margin-right: 50px;
    margin-left: 50px;
}

.buttons button:hover {
    color: white;
    background-color:maroon;
}

.title_name{
    /*Text*/
    color: maroon;
    font-size: 25px;

    /*Centering Text*/
    position: absolute;
    top: 50%;
    left: 20%;
    margin-top: -50px;
    margin-left: -50px;
    margin-bottom: -50px;
    width: 500px;
    height: 225px;
}

.personal_image img{
    position: absolute;
    top: 20%;
    left: 60%;
    margin-top: -50px;
    margin-left: -50px;
    margin-bottom: 20px;
   border-radius: 5%
}