body {
    background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    background-size: cover;


}

.nav_bar {
    z-index: 1;
    position: fixed;
    top: 0;
    box-shadow: 0px 15px 50px 25px black;
    justify-content: center;
    width: 100%;
}

#logo_image {
    box-shadow: 0px 0px 5px 5px  #FBD786;
}

.buttons {
    position: absolute;
    left: 20%;
}

.nav_bar button {
    margin-right: 50px;
    margin-left: 50px;
}

.buttons button:hover {
    color: white;
    background-color: #FBD786;
}

.technical {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.left-side {
    width: 50%;
}


.title {
    position: fixed;
    color:black;
    top: 50%;
    left: 20%;
    margin-top: -50px;
    margin-left: -50px;
    margin-bottom: -50px;
    width: 500px;
    height: 225px;
    
}

.right-side {
    width: 50%;
}

.text {
    color: black;
    position: absolute;
    top: 20%;
    left: 55%;
    margin-top: -50px;
    margin-left: -50px;
    margin-bottom: -50px;
    width: 600px;
    height: 225px; 
    
}

.languages {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}